/* colors */ 
$white: #E6DEDD;
$white-white: #F9F8EB;
$red: #8F1D14;
$brown: #1b120F;
$purple: #61374d;
$purple-dark: #33313B;
$blue: #007880;
$blue-blue: #475762;
$yellow: #F89D13;
$yellow-pan: #FDC57B;
$gray: #58595b;
$black: #000;