@import 'commons/colors.scss';
/************************** global */
* {
  
}

body {
  margin: 0;
  padding: 0;
  background-color: $white-white;
  font-family: 'Gayathri-thin', sans-serif;
  background-image: linear-gradient(to $white, $white-white 70%, $gray);
}
